@font-face {
    font-family: 'montserrat';
    src: url("../../public/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'montserrat bolder';
  src: url("../../public/fonts/Montserrat-Bold.ttf");
  font-weight: bolder;
}

@font-face {
  font-family: 'montserrat bold';
  src: url("../../public/fonts/Montserrat-SemiBold.ttf");
}
