:host {
  flex: 1;
  display: flex;
}
section {
  flex: 1;
  margin: 2rem 4rem;
}

@media screen and (max-width: 770px) {
  section {
    margin: 2rem;
  }
}

@media screen and (max-width: 600px) {
  section {
    margin: 1rem;
  }
}
