header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div {
  font-size: 2rem;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

img {
  height: 2rem;
  width: 2rem;
}
